.header {
    &--title {
        font-weight: 900
    }

    &--subtitle {
        color: red;
    }
}

.footer {
    &--copyright {
        float: left;
        margin-left: 30px;
    }

    &--text {
        float: right;
        margin-right: 30px;
    }
}