@import 'vars';
@import 'base';

h1, p {
	@extend %base-text;
}

h1 { color: $main-color; font-weight: 700; }
p { color: $alt-color; box-sizing: border-box; }

.section {
    background-color: grey;
    &__row {
        background-color: green;
        &__column {
            padding: 10px;
            background-color: blue;
        }
    }
}