{{> core/doctype }}
<html>
<head>
    {{> core/title }}
    {{> core/stylesheet }}
    
    {{#> block-header }}
        <!-- block-header -->
    {{/ block-header }}
</head>
<body>
    {{> header }}

    {{#> block-content-header }}
        <!-- block-content-header -->
    {{/ block-content-header }}

    {{#> block-content }}
        <!-- block-content -->
    {{/ block-content }}

    {{#> block-content-footer }}
        <!-- block-content-footer -->
    {{/ block-content-footer }}

    {{> footer }}
</body>
</html>