<table class="footer">
    <tr>
        <td class="footer--copyright">&copy; 2019-2020 CedSharp (C&eacute;drik Dubois), All rights reserved.</td>
        <td class="footer--text">Made with sharp love!</td>
    </tr>
</table>
