<table class="header">
    <tr class="header--title"><td>
        <h2>Header Title</h2>
    </td></tr>
    
    <tr class="header--subtitle"><td>
        <p>Le subtitle of the header</p>
    </td></tr>
</table>
