{{> layouts/reverse title="Index Page" }}

{{#*inline "block-content" }}
	<table class="section">
		<tr class="section__row">
			<td class="section__row__column">Row 1 - Col 1</td>
			<td class="section__row__column">Row 1 - Col 2</td>
			<td class="section__row__column">Row 1 - Col 3</td>
			<td class="section__row__column">Row 1 - Col 4</td>
		</tr>
		<tr class="section__row">
			<td class="section__row__column">Row 2 - Col 1</td>
			<td class="section__row__column">Row 2 - Col 2</td>
			<td class="section__row__column">Row 2 - Col 3</td>
			<td class="section__row__column">Row 2 - Col 4</td>
		</tr>
	</table>
{{/ inline }}